body {
    background-color: #000;
}

p {
    font-size: 75px;
    font-family: 'Codystar', cursive;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.board {
    text-align: center;
    box-shadow: -2px -2px 6px rgba(255,0,0,0.6),4px 4px 6px rgba(255,0,0,0.4),6px 6px 12px rgba(255,0,0,0.4);
    width: 500px;
    margin: 50px auto 0 auto;
    background-color: #000;
}