body {
    background-color: #000;
}

p {
    font-size: 75px;
    line-height: 75px;
    font-family: 'Codystar', cursive;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.board {
    text-align: center;
}

.novacancy span.on {
    color: #f90;
    text-shadow: 0 0 80px #f90, 0 0 30px #f00, 0 0 6px #ff0;
}

.novacancy span.off {
    color: #f90;
    opacity: 0.3;
}